<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <section>
        <md-content class="md-padding">
            <div layout="row" layout-wrap>
                <md-card flex-xs flex="30" ng-repeat="info in ic.games" class="gameCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ info.names }}</span>
                            <span class="md-subhead">Rating: {{info.avg_rating}}/10</span>
                        </md-card-title-text>
                    </md-card-title>
                    <img ng-src="{{info.image_url}}" class="md-card-image" layout-align="top" alt="Washed Out">
                    <md-card-content layout="column" layout-align="left">
                        <p>Number of Players: {{info.min_players}} - {{info.max_players}}</p>
                        <p>Category: {{info.category}}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <div flex-gt-sm="50">
                            <md-checkbox ng-model="usersGame" aria-label="Checkbox 1">
                                In My Collection
                            </md-checkbox>
                            <!-- <md-checkbox ng-model="usersGame" aria-label="Checkbox 1">
                                Add to Wishlist
                            </md-checkbox> -->
                        </div>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </section>
</div>