<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

<h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1>
    <div ng-cloak>
        <md-content>
        <md-card>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Title">
              <md-content class="md-padding">
                <h1 class="md-display-2">Search by Title</h1>
                <input type='text' placeholder="game search" ng-model="vm.gameIn">
                <button ng-click="vm.getGame(vm.gameIn)">Search</a></button>
              </md-content>
            </md-tab>
            <md-tab label="#Players">
              <md-content class="md-padding">
                <h1 class="md-display-2">Select Number of Players</h1>
                    <div layout="row">
                        <md-input-container style="margin-right: 10px;">
                          <label>Players</label>
                          <md-select ng-model="vm.playerCount">
                            <md-option ng-repeat="number in vm.players" value="{{number}}">{{number}}</md-option>
                          </md-select>
                        </md-input-container>
                    </div>
                <button ng-click="vm.palyerSearch(vm.playerCount)">Search</button>
              </md-content>
            </md-tab>
            <md-tab label="Genre and Mechanics">
              <md-content class="md-padding">
                <h1 class="md-display-2">Genre and Mechanics</h1>
                <!-- add functionality to search by genre -->
                <md-card-actions layout="row" layout-align="center center">
                    <div layout="row" layout-wrap flex>
                        <div flex-gt-sm="25" ng-repeat="item in vm.items">
                            <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
                                {{ item }}
                            </md-checkbox>
                        </div>
                    </div>
                </md-card-actions>
                <button ng-click="vm.searchGenre(checkboxes)">Search</a></button>                                    
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card>
    </md-content>
    </div>
    <section>
        <md-content class="md-padding">
            <div layout="row" layout-wrap>
                <md-card flex-xs flex="30" ng-repeat="info in vm.shownItems" class="gameCard">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ info.names }}</span>
                            <span class="md-subhead">Rating: {{info.avg_rating}}/10</span>
                        </md-card-title-text>
                    </md-card-title>
                    <img ng-src="{{info.image_url}}" class="md-card-image" layout-align="top" alt="Washed Out">
                    <md-card-content layout="column" layout-align="left">
                        <p ng-show="{{info.min_players}} != {{info.max_players}}">Number of Players: {{info.min_players}} to {{info.max_players}}</p>
                        <p ng-show="{{info.min_players}} === {{info.max_players}}">Number of Players: {{info.min_players}}</p>                        
                        <p>Category: {{info.category}}</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <div flex-gt-sm="50">
                            <md-checkbox ng-model="$index" ng-checked={{info.owned}} ng-click="vm.updateUserCollection(info.id)" aria-label="Checkbox 1">
                                In My Collection
                            </md-checkbox>
                            <md-checkbox ng-model="$indexSecondary" ng-checked={{info.wants}} aria-label="Checkbox 2">
                                Add to Wishlist
                            </md-checkbox>
                        </div>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </section>
    <md-collection-pagination class="md-padding" collection="vm.games" paginated-collection="vm.shownItems" per-page="9"></md-collection-pagination>
</div>