<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <section>
        <input type='text' placeholder="game search" ng-model="uc.gameIn">
        <button ng-click="uc.getGame(uc.gameIn)">Search</button>
        <div ng-repeat="info in uc.games">
                <h1>{{ info.names }}</h1>
                <p>Rating: {{info.avg_rating}}</p>
                <image src="{{info.image_url}}"></image>
                <p>Min Player: {{ info.min_players }}</p>
                <p>Max Players: {{ info.max_players }}</p>
        </div>
    </section>
</div>