<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <section>
        <input type='text' placeholder="game search" ng-model="uc.gameIn">
        <button ng-click="uc.getGame(uc.gameIn)">Search</button>
        <div ng-repeat="info in uc.game.elements[0].elements">
                <h1>{{ info.elements[7].elements[0].text }}</h1>
                <image src="{{info.elements[10].elements[0].text}}"></image>
                <p>Min Player: {{ info.elements[1].elements[0].text }}</p>
                <p>Max Players: {{ info.elements[2].elements[0].text }}</p>
        </div>
    </section>
</div>